.home-greeting{
    font-size: 20px;
    margin: 0;
  }
  
  .home-heading{
    color: #fffffe;
    text-align: center;
    font-size: 25px;
    margin: 20px;
  }
  
  .home-logout{
    position: fixed;
    color: #fffffe;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
  }
  
  .net-transaction-values{
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    color: #cce6ff;
  }
  
  .net-transaction-value-item{
    width: 150px;
    border: 1px solid #eebbc3;
    padding: 5px;
    border-radius: 5px;
  }
  
  .net-transaction-value-title{
    display: block;
    text-align: center;
    color: #fff;
  }
  
  .net-transaction-value-amount{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .transactions-container{
    max-height: 200px;
    overflow-y: scroll;
  }
  
  .add-transaction{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 2px double #0084ff;
    cursor: pointer;
  }
  
  .add-transaction:hover{
    background-color: #cce6ff;
  }